::selection {
    background-color: #f47e23;
    color: white;
  }

.pname::after{
    
        content: "";
        width: 20px;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: -34%;
      
}
.line::after{
    
    content: "";
    width: 20px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -3%;
  
}
  
li:hover .scroll{
    width: 100%;
}
.item:hover .scroll{
    width: 100%;
}
.scroll{
    display: block;
    width: 0%;
    height: 3px;
    background-color: #f47e23;
    transition: .5s width;
}
.scroll-left{
    display: block;
    width: 20%;
    height: 3px;
    background-color: #f47e23;
    transition: .5s width;
}
.fe:hover .scroll-left{
    width: 100%;

}
.scroll-right{
    display: block;
    width: 100%;
    height: 3px;
    background-color: #f47e23;
    transition: .5s width;
}

.fe:hover .scroll-right{
    width: 20%;

}
.star{
background-color: black;}
.arrow{
    transform: rotate(200deg);
    margin-left: 30%;
    margin-top: -2%;
}
.snow{
    margin-top: -4%;
    margin-left:60%;
}
.snowman{
    margin-top: -4%;
    margin-left:5%;
}
.santa{
    transform: rotate(10deg);

}
.message{
    transform: translateX(100%);
    transition: .5s ease-in transform;

}
.show-message{
    transform: translateX(0);
    transition: .5s ease-in transform;
}