::selection {
    background-color: #f47e23;
    color: white;
  }
.show-menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 400px;
    transform: translateY(0%);
    transition: transform 0.5s ease;
}
.hide{
    transform: translateY(-100%);
    transition: transform 0.5s ease;
}
.pname::after{
    
        content: "";
        width: 20px;
        height: 2px;
        background-color: white;
        position: absolute;
        top: 50%;
        left: -10%;
      
}
.line::after{
    
    content: "";
    width: 20px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: -34%;
  
}
  
li:hover .scroll{
    width: 100%;
}
.item:hover .scroll{
    width: 100%;
}
.scroll{
    display: block;
    width: 0%;
    height: 3px;
    background-color: #f47e23;
    transition: .5s width;
}
.scroll-left{
    display: block;
    width: 20%;
    height: 5px;
    background-color: #f47e23;
    transition: .5s width;
}
.fe:hover .scroll-left{
    width: 100%;

}
.scroll-right{
    display: block;
    width: 100%;
    height: 5px;
    background-color: #f47e23;
    transition: .5s width;
}

.fe:hover .scroll-right{
    width: 20%;

}
.star{
background-color: black;}
.arrow{
    transform: rotate(200deg);
    margin-left: 30%;
    margin-top: -2%;
}
.snow{
    margin-top: -4%;
    margin-left:60%;
}
.snowman{
    margin-top: -4%;
    margin-left:5%;
}
.santa{
    transform: rotate(10deg);

}
.message{
    transform: translateX(100%);
    transition: .5s ease-in transform;

}
.show-message{
    transform: translateX(0);
    transition: .5s ease-in transform;
}
.box{
    background-color: #f47e23;
    border-radius: 50%;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 10%;
}